.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarRow:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.sidebarRow:hover>.sidebarRow__icon {
    color: red;
}

.sidebarRow:hover>.sidebarRow__title {
    font-weight: bold;
}

.sidebarRow__icon {
    color: gray;
    font-size: large !important;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarRow.selected {
    background-color: rgb(228, 228, 228);
}

.sidebarRow.selected>.sidebarRow__icon {
    color: red;
}

.sidebarRow.selected>.sidebarRow__title {
    font-weight: bold;
}

.sidebarRow.minimized {
    flex-direction: column;
    padding: 15px 0;
    width: 70px;
}

.sidebarRow.minimized:hover {
    background-color: #fff;
}

.sidebarRow.minimized>.sidebarRow__title {
    margin: auto;
    margin-top: 10px;
    font-size: 9px;
}

.sidebarRow.minimized.selected {
    background-color: #fff;
}

@media screen and (max-width: 1315px) {
    .sidebarRow {
        flex-direction: column;
        padding: 15px 0;
    }

    .sidebarRow.selected {
        background-color: #fff;
    }

    .sidebarRow:hover {
        background-color: #fff;
    }

    .sidebarRow__title {
        margin: auto;
        margin-top: 10px;
        font-size: 9px;
    }
}