.searchPage {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px 20px;
}

.searchPage__container {
    max-width: 860px;
}

.searchPage__filter {
    display: flex;
    align-items: center;
    color: gray;
    font-size: xx-small !important;
}

.searchPage__filter>h2 {
    margin-left: 10px;
}

.searchPage__container>hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 8px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1315px) {
    .searchPage {
        flex: 1;
    }
}