.sidebar {
    width: 230px;
}

.sidebar hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1315px) and (min-width: 811px) {
    .sidebar {
        width: 70px;
    }

    .sidebar hr {
        display: none;
    }

    .sidebar__responsive {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .sidebar {
        display: none;
    }
}